*.png
*.gif
.idea
__pycache__
*.csv
*.p
*.pptx
*.xlsx
*.pt
*.mat
*.png
*.gif
*.gz
*.arff
*.mat
**/data-cifar
**/data-mnist
**/data-fashion-mnist
**/data-svhn
*.csv
*.parquet
.idea
**/zema_hydraulic/dataset